# ==========================================
# BIWENGER
# ==========================================

# SOLO el token.
# NO pongas tu contraseña de Google.
BIWENGER_TOKEN=

# Opcional.
# Si ves x-version en Network puedes copiarlo.
BIWENGER_VERSION=

# Opcional.
# Si tienes varias ligas, coloca el nombre exacto.
# Si lo dejas vacío usará la primera.
BIWENGER_LEAGUE_NAME=

# 5 = puntuación media
BIWENGER_SCORE=5

# Backend
PORT=3001